#fondo 
{
    padding-top: 3px;
    background-color: rgb(54, 54, 54) ;
}

marquee
{
color: white;

}

body
{
    text-align: center;
}
nav
{
    background-color:rgb(54, 54, 54) ;  
}